.table {
    padding: 50px 0;
}

.table__item {
    padding: 20px 10px;
    display: flex;
    margin-bottom: 30px;
    &:nth-child(2n-1) {
        background-color: #aaaaaa;
    }

    &:first-child {
        background-color: initial;
        padding-bottom: 0px;
        border-bottom: 1px solid slateblue;
    }
}