@import "../../styles/scss/variables.scss";

.page {
    padding: 30px; 
}

.input-box {
    @media #{$medium} {
        display: flex;
        justify-content: center;
    }
}

.input {
    width: 100%;
    padding: 20px 20px 10px 20px;
    border-bottom: 1px solid slateblue;

    @media #{$medium} {
        width: 50%;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}