.button {
    min-width: 200px;
    border: 1px solid;
    line-height: 45px;
    padding: 15px;
    margin: 10px;
    text-align: center;

    &:hover {
        cursor: pointer;
        color: slateblue;
        border: 1px solid slateblue;
    }
}

.title {
    text-transform: uppercase;
    font-weight: bold;
}