@import "../../../styles/scss/variables.scss";

.first-box {
    width: 80%;

    @media #{$medium} {
        display: flex;
    }
}

.second-box {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    align-items: center;

    @media #{$medium} {
        width: 50%;
    }
}

.cell {
    width: 50%;
    padding: 10px;
    
    @media #{$medium} {
    }

    @media #{$large} {
    }
}

.text {
    text-transform: capitalize;
    word-break: break-all;
}

.refresh {
    padding: 15px;
    cursor: pointer;
    &:hover {
        .icon {
            fill: slateblue;
        }
    }
}

.rotate {
    animation: spin 2s linear infinite;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }