*,
::before,
::after {
    background-repeat: no-repeat;
    box-sizing: border-box;
}

* {
    background: transparent;
    border: 0;
    box-shadow: none;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    text-align: inherit;
    vertical-align: baseline;
}

body {
    font-size: 16px;
    line-height: 1.2;
    position: relative;
}

li {
    list-style-type: none;
}

a {
    text-decoration: inherit;
}
